<h1>비밀번호 변경</h1>
<form action="/password_change_process" method="post">
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Change Password *</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="inputPassword3" name="pw" maxlength="20">
        </div>
    </div>
    <p><input type="submit"></p>
</form>
