<h1>NameCard</h1>
<% if(kindOfDoc == 'C') { %>
    <form action="/namecard/create_process" method="post">
    <% } else { %>
    <form action="/namecard/update_process/<%=nId%>" method="post">
    <% } %>
        <p><input type="text" name="title" value="<%=title%>" style=" width : 400px; bordercolor:antiquewhite;" placeholder="title"></p>
        <p><textarea name="description" placeholder="description" cols="60" style=" bordercolor:antiquewhite;"><%=description%></textarea></p>
        <p>by <%=id%></p>
        <p><input type="submit"></p>
    </form>